/* src/components/LoginPopup.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background: white;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
    width: 65vw;
    height: 70vh;
    z-index: 7;
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
}

.pop-imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
   
}

.close-btn {
    background: rgb(136, 135, 135);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 17px;
    font-weight: 600;
}

.arrow {
    width: 30px;
    padding: 0 5px;
}

.web-logo {
    width: 120px;
    margin-left: 1rem;
}

.loginBg
{
    width: 100%;
}
.login-con
{
    display: flex;
}
.login-but
{
  
    margin: 5px auto;
    padding: 10px 70px;
    border-radius: 20px;
    border: none;
    background-color: #00F78D;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
   

}
.log-but
{
  
    margin: 5px auto;
    padding: 10px 70px;
    border-radius: 20px;
    border: solid 2px #000000;
    background-color: #3a3939;
    color: white;
    

}
.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .log-title {
    
   
    font-weight: 650;
    
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #868080;
    text-align: center;
    
 
}
.forgot
{
    color: rgb(24, 89, 174);
    font-size: smaller;
    font-weight: bold;

}
.Rightside
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
    
    
}
.leftside
{
    width: 50%;
}


