*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    background-color: white;
    color: #111;
}


section{
    margin-left: 100px;
    margin-top: 100px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 100px;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
}
  
  .card {
    width: calc(33.33% - 20px); /* Adjust width according to the number of cards you want per row */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    

 
  .card:hover{
   
    transform: scale(1.1);
  }

  .card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .location-symbol {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .arrow-symbol {
    margin: 0 5px;
    color: #2980b9;
  }
  
  .time-period {
    font-style: italic;
    color: #8e44ad;
  }
  
  .seats {
    font-weight: bold;
    color: #27ae60;
  }
  

  .read-more {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(16, 0, 0);
  background:#00f78d;
  border-radius: 5px;
  padding:5px;
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure it's a block-level element */
  width: fit-content;
  
}

.read-more:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  section {
      margin-left: 100px;
      
  }
  
}

@media screen and (max-width: 992px) {
  section {
      margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  section {
      margin-left: 40px;
  }
  
  .card {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  section {
      margin-left: 30px;
  }
      .card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
  
  
}

@media screen and (max-width: 525px) {
  section {
    margin-left: 10px; /* Adjust margin as needed */
    overflow-x: auto; /* Enable horizontal scrolling for content overflow */
  }

  .card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 10px; /* Add some bottom margin to cards */
  }

  .card p {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
    margin: 0; /* Remove any default margin */
    padding: 5px; /* Add padding for better readability */
  }
}

  
