.navbar-container
{
    height: 6rem; 
    width: 100vw;
    max-width: 80rem; 
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
     z-index:4;
     background: white;
    
 }
 
 .nav-menu-item
{
    margin: 1rem ;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}   
.nav-menu-item:hover
{
     
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #00f78d;

   
}  
.nav-img
{
    width: 200px;
    object-fit: cover;
}
.nav-button
{
    background:#00f78d;
    border: none;
    border-radius: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    
}
.nav-menu-img
{
    display: none;
    width: 80px;
}

/* Media */
@media (max-width: 835px) {
   
    .nav-menu-item
    {
        display: none;
    }
    .nav-button
    {
        display: none;
    }
    .nav-menu-img
    {
        display: flex;
    }

}
@media (max-width: 390px) {
    .nav-img
    {
        width: 100px;
        object-fit: cover;
    }
    .nav-menu-img
{
    
    width: 40px;
}

}


