.navbar-container {
    height: 6rem; 
    width: 100vw;
    max-width: 80rem; 
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
    background: white;
  }
  
  .nav-menu-item {
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav-menu-item:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #00f78d;
  }
  
  .nav-img {
    width: 200px;
    object-fit: cover;
  }
  
  .nav-button {
    background: #00f78d;
    border: none;
    border-radius: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .nav-menu-img {
    display: none;
    width: 80px;
  }
  
  @media (max-width: 835px) {
    .nav-menu-item {
      display: none;
    }
    .nav-button {
      display: none;
    }
    .nav-menu-img {
      display: flex;
    }
  }
  
  @media (max-width: 390px) {
    .nav-img {
      width: 100px;
      object-fit: cover;
    }
    .nav-menu-img {
      width: 40px;
    }
  }

  .header-image{
    width:100%;
  }
  
  #about
{
    min-height: calc(100vh-6rem);
    width: 100vw;
    max-width: 75rem;
    align-items: center;
    display: flex;
    justify-content: center ;
    flex-direction: column ;
    margin: 0 auto;
    margin-top: 4rem;
   
    padding: 1rem 1rem   ;
    position: relative;
    /* background: rgb(243, 242, 242); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   
    
}

.about-tit
{
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    background-color: #00F78D;
    padding: 10px;
    border-radius: 10px;
   
    

}
.about-text
{
    width: 60%;
    font-size: 15px;
    font-weight: 510;
    align-items: center;
    color: rgb(54, 50, 50);
  
   
}
.about-text p
{
    z-index: 2;
}
.about-img
{
    position: absolute; 
    top: -0vh;
    z-index: -1;
    right: -1rem;   
    object-fit: cover; 
    
}
  
  @media (max-width: 1100px) {
    .about-img {
      right: 0;
      top: 70px;
      object-fit: cover;
      opacity: 0.3;
    }
  }
  
  @media (max-width: 850px) {
    .about-text {
      width: 80vw;
    }
    .about-img {
      right: 0;
      object-fit: cover;
      opacity: 0.3;
    }
  }
  
  @media (max-width: 517px) {
    .about-text {
      width: 80vw;
      font-size: 12px;
    }
    .about-img {
      width: 100%;
      object-fit: cover;
      top: 20%;
      opacity: 0.3;
    }
  }
  
  @media (max-width: 392px) {
    .about-text {
      width: 80vw;
      font-size: 10px;
    }
    .about-img {
      width: 100%;
      object-fit: cover;
      top: 30%;
      opacity: 0.3;
    }
  }
  
  #contactpage
{
    min-height: calc(100vh-6rem);
     width: 100vw;
     max-width: 60rem;
     margin: 0 auto;
     text-align: center;
    margin-top: 5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1rem;
      background: rgb(243, 242, 242);
    border-radius: 10px;
   

} 

.contact-tittle
{
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
}
.contact-para
{
    font-size: 1rem;
    font-weight: 400;
    
   
}

.contact-form
{
    margin: 1rem ;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 6  0rem;
}  
.name,.email,.message
{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;  
    padding: 0.5rem 1rem;
    color: white ;
    border: none ;
    border-radius: 0.5rem ;
    background: #fbfbfb;
       
}
.sub-but
{
    background:#00F78D;
    padding: 0.8rem 4rem;
    border: none;
    border-radius: 0.8rem; 
    margin: 2rem;
}
.links
{
   display: flex;
   flex-wrap: wrap;
}
.link
{  
    object-fit: cover;
    margin: 0 0.5rem;
    cursor: pointer;
}
.sub-but:hover
{
    background-color:#07dc80 ;
    cursor: pointer;
    
    
    
     
}

  .footer {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: medium;
    font-weight: 550;
  }
  
  .footer span {
    margin-left: 0.3rem;
    color: #00F78D;
  }
  
  .layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6; 
  }
  
  .log-container {
    background-color: #fffefe;
    height: 70vh;
    width: 70vw;
   
    max-width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
   
    flex-direction: row;
    z-index: 7; 
  }
  .log-img
  {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 80%;
    margin: 0 0;
    width: 50%;
    
    

  }
  .register-text
  {
    text-align: center;
   
  }
.register-tittle
{
    text-align: center;
    font-weight: bold;
}
.log-but
{
  
    margin: 5px auto;
    padding: 10px 70px;
    border-radius: 20px;
    border: solid 2px #000000;
    background-color: #3a3939;
    color: white;
    

}
.login-but
{
  
    margin: 5px auto;
    padding: 10px 70px;
    border-radius: 20px;
    border: none;
    background-color: #00F78D;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
   

}
.forgot
{
    color: rgb(24, 89, 174);
    font-size: smaller;
    font-weight: bold;

}
  
  .loginImage
  {
    width: 450px;
    object-fit: cover;
   
    
  }
  
  .log-detail {
    flex: 1;
    padding: 15px;
   
  }
  
  .log-title {
    
   
      font-weight: 650;
      margin-bottom: 20px;
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 30px;
      color: #868080;
      text-align: center;
      margin-top: 100px;
   
  }
  
  .log-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .log-logo
  {
    width: 100px;
  }
  